---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const draftBlogEntries = (await getCollection('blog', (data) => {
  return data.data.draft !== true;
})).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id="main">
			<section class="wrap">
				<ul class="arts">
					{draftBlogEntries.map((post) => {
						const withDesc = !!post.data.description
						return (
							<li class={withDesc ? "desc_box" : ""}>
								<p class="title">
									<a class="link" href={'/posts/' + post.slug}>{post.data.title}</a>
									<span class="extra">
										{
											post.data.blogs?.map(blog => (
												<a href={blog.link} target="_blank">{blog.from}</a>
											))
										}
									</span>
									<time datetime={post.data.pubDate}>
										{new Date(post.data.pubDate).toLocaleDateString('zh-cn', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</time>
								</p>
								{
									withDesc && 
									<div class="desc">{
											post.data.description
										} {
											post.data.tag && post.data.tag.map(t => <span class="ptag">{t}</span>)
										}
									</div>
								}
							</li>
						)
					} )}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
<style lang="less">
@import '../styles/global.less';
</style>
