---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id="main">
			<section>
				<ul class="arts">
					{posts.map((post) => {
						const withDesc = !!post.frontmatter.description
						return (
							<li class={withDesc ? "desc_box" : ""}>
								<p class="title">
									{post.frontmatter.titlePre}<a href={post.url}>{post.frontmatter.title}</a>
									<time datetime={post.frontmatter.pubDate}>
										{new Date(post.frontmatter.pubDate).toLocaleDateString('zh-cn', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</time>
								</p>
								{
									withDesc && 
									<p class="desc">{post.frontmatter.description}</p>
								}
							</li>
						)
					} )}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
<style lang="less">
@import '../styles/global.less';
.arts li {
	padding: 2px 0 20px 0;
	// &.desc_box {
	// 	.title {
			
	// 	}
	// }
	.title {
		height: 26px;
		padding: 0 4px;
		margin-bottom: 2px;
		border-bottom: 1px #c9c9d0 solid;
		time {
			float: right;
			font-size: 12px;
			color: @text_grey;
		}
		a {
			font-size: 16px;
			display: inline-block;
			border-bottom: 1px @bg_dark solid;
			&:visited{
				color: inherit;
			}
		}
	}
	.desc {
		padding: 4px 8px;
		background-color: @bg_card;
		white-space: pre-line;
		border-radius: 0 0 4px 4px;
		// background: url(../assets/default_cov.jpg) no-repeat;
		// background-size: cover;
	}
}
</style>
