---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		tag?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage, tag = '' },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
  			border-top: 1px solid #DDD;
				margin: 1rem 0;
			}
			img.cover {
				width: 100%;
				height: 120px;
			}
		</style>
	</head>

	<body>
		<Header />
		<main id="main">
			<article class={ 'article ' + tag }>
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				{heroImage && (
					<img
						class="cover"
						src={heroImage}
						alt=""
						object-fit="cover"
					/>
				)}
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
